openapi: 3.0.3
info:
  title: Sysdig Secure Public API
  description: |-
    This is the Sysdig Secure API documentation. Use this API to access Sysdig Secure programmatically.
    For Sysdig Monitor API documentation, please refer to <a href="/apidocs/monitor?_product=SDC">Sysdig Monitor API documentation</a>.
  contact:
    name: Sysdig
    url: https://sysdig.com
    email: info@sysdig.com
  version: 1.0.3
servers:
- url: https://api.us2.sysdig.com
  description: Sysdig Secure Public API
security:
- bearerAuth: []
tags:
- name: Teams
  description: "The use of teams provides a strategic way to organize groups, streamline\
    \ workflows, or protect data, as needed by an organization. Administrators who\
    \ design and implement teams should have in-depth knowledge of organizational\
    \ infrastructure and goals."
  externalDocs:
    description: Find out more
    url: https://docs.sysdig.com/en/docs/administration/administration-settings/user-and-team-administration/manage-teams-and-roles/
- name: Users
  description: User for the Sysdig platform.
- name: User Deactivation
  description: User deactivation configuration.
- name: Access Keys
  description: Manage Access Keys.
- name: SSO Settings
  description: Single Sign-On (SSO) settings are used to configure the SSO access
    to the Sysdig platform.
  externalDocs:
    description: Find out more
    url: https://docs.sysdig.com/en/docs/administration/administration-settings/access-and-secrets/authentication-and-authorization-saas/
- name: Group Mappings
  description: Group mappings are used to map groups from an external identity provider
    to teams and roles in the Sysdig platform.
  externalDocs:
    description: Find out more
    url: https://docs.sysdig.com/en/docs/administration/administration-settings/access-and-secrets/group-mappings/
- name: Service Accounts Notification Settings
  description: Service accounts notification settings are used to configure the notification
    settings for service accounts.
- name: IP Filtering
  description: |
    IP filtering is used to control access to the Sysdig platform based on specified IP ranges.\
    NOTE: The feature can be activated via the `/platform/v1/ip-filters-settings` endpoint (or through the UI) only if at least one IP address or range is configured.
- name: Permissions
  description: Permissions determine the actions you can perform in the Sysdig platform.
- name: Capture Storage
  description: Capture storage configuration.
  externalDocs:
    description: Find out more
    url: https://docs.sysdig.com/en/docs/administration/administration-settings/outbound-integrations/s3-capture-storage/
- name: Roles
  description: |
    A custom role is an admin-defined role that allows Sysdig administrators to bundle a set of permissions and assign it to one or more users or teams.
  externalDocs:
    description: Find out more
    url: https://docs.sysdig.com/en/custom-role/
- name: Service Accounts
  description: Manage service accounts.
  externalDocs:
    description: "For more information, see Manage Teams, Roles, and Service Accounts."
    url: https://docs.sysdig.com/en/manage-teams-and-roles/
- name: Notification Channels
  description: Notification channels are reusable configurations for a specific notification
    target that can be used to send notifications out of Sysdig Platform.
- name: Certificates
  description: "Certificates manager module is a feature to create, upload, update\
    \ and delete certificates that are used by Sysdig to authenticate to with external\
    \ parties."
  externalDocs:
    description: Find out more
    url: https://docs.sysdig.com/en/certificates-management.html
- name: Events Forwarder
  description: Events Forwarder allows you to send data from Sysdig to third-party
    platforms and logging tools.
  externalDocs:
    description: Find out more
    url: https://docs.sysdig.com/en/event-forwarding
- name: Secure Events
  description: Event Feed is a module that allows to fetch and filter events.
  externalDocs:
    description: Find out more
    url: https://docs.sysdig.com/en/docs/sysdig-secure/secure-events/
- name: Platform Audit
  description: Auditing and reporting on the use of the Sysdig platform itself.
- name: Vulnerability Management
  description: |
    Vulnerability Management APIs. With this set of APIs, users can:
    * Accept the risk of detected vulnerabilities. Risk acceptance is available for both Runtime and Pipeline and can be applied to specific CVEs, hosts, or images.
    * Read registry vulnerabilities data.
    * Read runtime vulnerabilities data.
    * Access scanner results data.
  externalDocs:
    description: Find out more
    url: https://docs.sysdig.com/en/docs/sysdig-secure/vulnerabilities/
- name: Activity Audit
  description: Activity Audit is a module that allows to fetch and filter audit events.
  externalDocs:
    description: Find out more
    url: https://docs.sysdig.com/en/activity-audit.html
- name: Inventory
  description: "Inventory provides visibility into resources across cloud (GCP, Azure,\
    \ and AWS) and Kubernetes environments, container images and IaC resources."
- name: Jira integrations
  description: Jira integration lets Sysdig customers manage their Jira tickets within
    the Sysdig Platform.
- name: SBOM
  description: |
    Sysdig Secure’s API for the management of the Customer's SBOM (Software Bill Of Material) catalogue.
  externalDocs:
    description: Find out more
    url: https://docs.sysdig.com/en/docs/sysdig-secure/vulnerabilities
- name: Reporting
  description: |
    Sysdig's API to manage and access your Reports.
  externalDocs:
    description: Find out more
    url: https://docs.sysdig.com/en/docs/sysdig-secure/reporting
- name: Zones
  description: "A zone, in Sysdig, is a collection of scopes that represent important\
    \ areas of your business. For example, create a zone for your production environment,\
    \ a staging environment, or a region."
  externalDocs:
    description: Find out more
    url: https://docs.sysdig.com/en/zones/
- name: Response actions
  description: "Response Actions is a functionality that lets you respond to a variety\
    \ of things, such as threats, activity audits, and runtime events."
  externalDocs:
    description: "For more informations, see the Response Actions documentation."
    url: https://docs.sysdig.com/en/docs/sysdig-secure/threats/respond/#response-actions
paths:
  /platform/v1/teams:
    get:
      tags:
      - Teams
      summary: List Teams
      description: |
        Retrieve a paginated list of teams.\
        \
        **Required permissions:** _customer-teams.read_
      operationId: getTeamsV1
      parameters:
      - $ref: "#/components/parameters/Offset"
      - $ref: "#/components/parameters/Limit"
      - $ref: "#/components/parameters/OrderBy"
      - $ref: "#/components/parameters/Filter"
      responses:
        "200":
          description: The teams page.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetTeamsPaginatedResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      tags:
      - Teams
      summary: Create Team
      description: |
        Create a new team.\
        \
        **Required permissions:** _teams.create_
      operationId: createTeamV1
      requestBody:
        description: The payload required to create a new team.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTeamRequestV1"
      responses:
        "201":
          description: Team created.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /platform/v1/teams/{teamId}:
    get:
      tags:
      - Teams
      summary: Get Team
      description: |
        Return a team by ID.\
        \
        **Required permissions:** _customer-teams.read_
      operationId: getTeamByIdV1
      parameters:
      - $ref: "#/components/parameters/TeamIdPath"
      responses:
        "200":
          description: Team found.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    put:
      tags:
      - Teams
      summary: Update Team
      description: |
        Update a team by its ID.\
        \
        **Required permissions:** _teams.edit_
      operationId: updateTeamByIdV1
      parameters:
      - $ref: "#/components/parameters/TeamIdPath"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTeamRequestV1"
      responses:
        "200":
          description: Team updated.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    delete:
      tags:
      - Teams
      summary: Delete Team
      description: |
        Delete a team by its ID.\
        \
        **Required permissions:** _teams.edit_
      operationId: deleteTeamByIdV1
      parameters:
      - $ref: "#/components/parameters/TeamIdPath"
      responses:
        "204":
          description: Team deleted.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /platform/v1/teams/{teamId}/users:
    get:
      tags:
      - Teams
      summary: List Memberships
      description: |
        Retrieve a paginated list of memberships in a given team ID.\
        \
        **Required permissions:** _memberships.read_
      operationId: getTeamUsersV1
      parameters:
      - $ref: "#/components/parameters/TeamIdPath"
      - $ref: "#/components/parameters/Offset"
      - $ref: "#/components/parameters/Limit"
      - name: withAdminUsers
        in: query
        description: Include admin users in the response.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      responses:
        "200":
          description: The memberships page.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetTeamUsersPaginatedResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /platform/v1/teams/{teamId}/users/{userId}:
    get:
      tags:
      - Teams
      summary: Get Membership
      description: |
        Return a membership by its ID.\
        \
        **Required permissions:** _memberships.read_
      operationId: getTeamUserByIdV1
      parameters:
      - $ref: "#/components/parameters/TeamIdPath"
      - $ref: "#/components/parameters/UserIdPath"
      responses:
        "200":
          description: Membership found.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamUserResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    put:
      tags:
      - Teams
      summary: Save Membership
      description: |
        Add or update a membership.

        | Permission             | Description                                                                                             |
        | -----------------------| --------------------------------------------------------------------------------------------------------|
        | memberships.edit       | Required to create a new membership.                                                                    |
        | memberships-roles.edit | Required to change roles of an existing membership or to create a new membership with a specific role.  |
      operationId: saveTeamUserV1
      parameters:
      - $ref: "#/components/parameters/TeamIdPath"
      - $ref: "#/components/parameters/UserIdPath"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SaveTeamUserRequestV1"
      responses:
        "200":
          description: Membership updated.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamUserResponseV1"
        "201":
          description: Membership created.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamUserResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    delete:
      tags:
      - Teams
      summary: Delete Membership
      description: |
        Delete a membership defined by its ID.\
        \
        **Required permissions:** _memberships.edit_
      operationId: deleteTeamUserByIdV1
      parameters:
      - $ref: "#/components/parameters/TeamIdPath"
      - $ref: "#/components/parameters/UserIdPath"
      responses:
        "204":
          description: Membership deleted.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /platform/v1/users:
    get:
      tags:
      - Users
      summary: List Users
      description: |
        Retrieve a paginated list of users.\
        \
        **Required permissions:** _users.read_
      operationId: getUsersV1
      parameters:
      - $ref: "#/components/parameters/Offset"
      - $ref: "#/components/parameters/Limit"
      - $ref: "#/components/parameters/OrderBy"
      - $ref: "#/components/parameters/Filter"
      responses:
        "200":
          description: The users page.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetUsersPaginatedResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      tags:
      - Users
      summary: Create User
      description: |
        Create a new user.\
        \
        **Required permissions:** _users.create_
      operationId: createUserV1
      parameters:
      - name: activationFlow
        in: query
        description: |
          The activation flow is used to send an invitation email to the user that is being created.\
          \
          **NOTE: it is required to set at least one product in the payload in order to send the appropriate email.**
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          example: true
          default: false
      requestBody:
        description: The payload required to create a new user.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserRequestV1"
        required: true
      responses:
        "201":
          description: User created.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /platform/v1/users/{userId}:
    get:
      tags:
      - Users
      summary: Get User
      description: |
        Display a user by ID.\
        \
        **Required permissions:** _users.read_
      operationId: getUserByIdV1
      parameters:
      - $ref: "#/components/parameters/UserIdPath"
      responses:
        "200":
          description: User found.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    put:
      tags:
      - Users
      summary: Update User
      description: |
        Update a user by its ID. \
        \
        **Required permissions:** _users.edit_
      operationId: updateUserV1
      parameters:
      - $ref: "#/components/parameters/UserIdPath"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserRequestV1"
        required: true
      responses:
        "200":
          description: User updated.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    delete:
      tags:
      - Users
      summary: Delete User
      description: |
        Delete a user by its ID.\
        \
        **Required permissions:** _users.edit_
      operationId: deleteUserByIdV1
      parameters:
      - $ref: "#/components/parameters/UserIdPath"
      responses:
        "204":
          description: User deleted.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /platform/v1/configuration/user-deactivation:
    get:
      tags:
      - User Deactivation
      summary: Get User Deactivation Configuration
      description: |
        Retrieve the user deactivation configuration.\
        \
        **Required permissions:** _customer-user-deactivation-configuration.read_
      operationId: getUserDeactivationConfigurationV1
      responses:
        "200":
          description: Display the User Deactivation Configuration.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserDeactivationConfigurationResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    put:
      tags:
      - User Deactivation
      summary: Update or Create User Deactivation Configuration
      description: |
        Update or Create User deactivation configuration.\
        \
        **Required permissions:** _customer-user-deactivation-configuration.edit_
      operationId: updateUserDeactivationConfigurationByIdV1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserDeactivationConfigurationRequestV1"
      responses:
        "200":
          description: User Configuration updated.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserDeactivationConfigurationResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /platform/v1/configuration/capture-storage:
    get:
      tags:
      - Capture Storage
      summary: Get Capture Storage Configuration
      description: |
        Retrieve the capture storage configuration.\
        \
        **Required permissions:** _sysdig-storage.read_
      operationId: getCaptureStorageConfigurationV1
      responses:
        "200":
          description: Display the Capture Storage Configuration.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CaptureStorageConfigurationResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    put:
      tags:
      - Capture Storage
      summary: Update or Create Capture Storage Configuration
      description: |
        Update or Create Capture Storage configuration.\
        \
        **Required permissions:** _sysdig-storage.edit_
      operationId: updateCaptureStorageConfigurationV1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SaveCaptureStorageConfigurationRequestV1"
      responses:
        "200":
          description: Capture Storage updated.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CaptureStorageConfigurationResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /platform/v1/access-keys:
    get:
      tags:
      - Access Keys
      summary: List Access Keys
      description: |
        Retrieve a paginated list of access keys.\
        \
        **Required permissions:** _customer-access-keys.read_
      operationId: getAccessKeysV1
      parameters:
      - $ref: "#/components/parameters/Offset"
      - $ref: "#/components/parameters/Limit"
      - $ref: "#/components/parameters/OrderBy"
      - $ref: "#/components/parameters/MultiFilter"
      responses:
        "200":
          description: The access keys page.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAccessKeysPaginatedResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      tags:
      - Access Keys
      summary: Create Access Key
      description: |
        Create a new access key.\
        \
        **Required permissions:** _customer-access-keys.edit_
      operationId: createAccessKeyV1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAccessKeyRequestV1"
      responses:
        "201":
          description: Access key created.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessKeyResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /platform/v1/access-keys/{accessKeyId}:
    get:
      tags:
      - Access Keys
      summary: Get Access Key
      description: |
        Return an access key by id.\
        \
        **Required permissions:** _customer-access-keys.read_
      operationId: getAccessKeyByIdV1
      parameters:
      - $ref: "#/components/parameters/AccessKeyIdPath"
      responses:
        "200":
          description: Access key found.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessKeyResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    put:
      tags:
      - Access Keys
      summary: Update Access Key
      description: |
        Update an access key by id.\
        \
        **Required permissions:** _customer-access-keys.edit_
      operationId: updateAccessKeyByIdV1
      parameters:
      - $ref: "#/components/parameters/AccessKeyIdPath"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAccessKeyRequestV1"
      responses:
        "200":
          description: Access key updated.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessKeyResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    delete:
      tags:
      - Access Keys
      summary: Delete Access Key
      description: |
        Delete an access key by id.\
        \
        **Required permissions:** customer-access-keys.edit_
      operationId: deleteAccessKeyByIdV1
      parameters:
      - $ref: "#/components/parameters/AccessKeyIdPath"
      responses:
        "204":
          description: Access key deleted.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /platform/v1/group-mappings:
    get:
      tags:
      - Group Mappings
      summary: List Group Mappings
      description: |
        Retrieve a paginated list of group mappings.\
        \
        **Required permissions:** _group-mappings.read_
      operationId: getGroupMappingsV1
      parameters:
      - $ref: "#/components/parameters/Offset"
      - $ref: "#/components/parameters/Limit"
      - $ref: "#/components/parameters/OrderBy"
      - $ref: "#/components/parameters/Filter"
      responses:
        "200":
          description: Group mappings paginated response.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupMappingsPaginatedResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      tags:
      - Group Mappings
      summary: Create Group Mapping
      description: |
        Create a new group mapping.\
        \
        **Required permissions:** _group-mappings.edit_
      operationId: createGroupMappingV1
      requestBody:
        description: The payload required to create group mapping.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateGroupMappingRequestV1"
      responses:
        "201":
          description: Group Mapping created.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupMappingResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /platform/v1/group-mappings/{groupMappingId}:
    get:
      tags:
      - Group Mappings
      summary: Get Group Mapping
      description: |
        Return a group mapping by its ID.\
        \
        **Required permissions:** _group-mappings.read_
      operationId: getGroupMappingByIdV1
      parameters:
      - $ref: "#/components/parameters/GroupMappingIdPath"
      responses:
        "200":
          description: Group Mapping found.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupMappingResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    put:
      tags:
      - Group Mappings
      summary: Update Group Mapping
      description: |
        Update a group mapping by its ID.\
        \
        **Required permissions:** _group-mappings.edit_
      operationId: updateGroupMappingByIdV1
      parameters:
      - $ref: "#/components/parameters/GroupMappingIdPath"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateGroupMappingRequestV1"
      responses:
        "200":
          description: Group Mapping updated.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupMappingResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    delete:
      tags:
      - Group Mappings
      summary: Delete Group Mapping
      description: |
        Delete a group mapping by its ID.\
        \
        **Required permissions:** _group-mappings.edit_
      operationId: deleteGroupMappingByIdV1
      parameters:
      - $ref: "#/components/parameters/GroupMappingIdPath"
      responses:
        "204":
          description: Group mapping deleted.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /platform/v1/group-mappings-settings:
    get:
      tags:
      - Group Mappings
      summary: Get Group Mappings Settings
      description: |
        Retrieves your group mapping settings.\
        \
        **Required permissions:** _group-mappings.read_
      operationId: getGroupMappingSettingsV1
      responses:
        "200":
          description: Group mappings page.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupMappingSettingsV1"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    put:
      tags:
      - Group Mappings
      summary: Save Group Mapping settings
      description: |
        Saves your group mapping settings.\
        \
        **Required permissions:** _group-mappings.edit_
      operationId: saveGroupMappingSettingsV1
      requestBody:
        description: The payload required to save group mapping settings.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GroupMappingSettingsV1"
      responses:
        "200":
          description: Group Mapping settings saved.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupMappingSettingsV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /platform/v1/sso-settings:
    get:
      tags:
      - SSO Settings
      summary: List SSO Settings
      description: |
        Retrieve a paginated list of SSO settings.\
        \
        **Required permissions:** _sso-settings.read_
      operationId: getSsoSettingsV1
      parameters:
      - $ref: "#/components/parameters/Filter"
      responses:
        "200":
          description: List all SSO settings response.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AllSsoSettingsResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      tags:
      - SSO Settings
      summary: Create SSO Settings
      description: |
        Create a new SSO settings.\
        \
        **Required permissions:** _sso-setting.edit_
      operationId: createSsoSettingsV1
      requestBody:
        description: The payload required to create SSO settings.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSsoSettingsRequestV1"
      responses:
        "201":
          description: SSO settings created.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SsoSettingsResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /platform/v1/sso-settings/{ssoSettingsId}:
    get:
      tags:
      - SSO Settings
      summary: Get SSO Settings
      description: |
        Return SSO settings by ID.\
        \
        **Required permissions:** _sso-settings.read_
      operationId: getSsoSettingsByIdV1
      parameters:
      - $ref: "#/components/parameters/SsoSettingsIdPath"
      responses:
        "200":
          description: SSO settings found.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SsoSettingsResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    put:
      tags:
      - SSO Settings
      summary: Update SSO Settings
      description: |
        Update SSO settings by its ID.\
        \
        **Required permissions:** _sso-settings.edit_
      operationId: updateSsoSettingsByIdV1
      parameters:
      - $ref: "#/components/parameters/SsoSettingsIdPath"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSsoSettingsRequestV1"
      responses:
        "200":
          description: SSO setting updated.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SsoSettingsResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    delete:
      tags:
      - SSO Settings
      summary: Delete SSO Settings
      description: |
        Delete SSO settings by its ID.\
        \
        **Required permissions:** _sso-settings.edit_
      operationId: deleteSsoSettingsByIdV1
      parameters:
      - $ref: "#/components/parameters/SsoSettingsIdPath"
      responses:
        "204":
          description: SSO settings deleted.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /platform/v1/global-sso-settings/{ssoProductId}:
    get:
      tags:
      - SSO Settings
      summary: Get Global SSO Settings
      description: |
        Get Global SSO Settings.\
        \
        **Required permissions:** _sso-settings.read_
      operationId: getGlobaSsoSettingsV1
      parameters:
      - $ref: "#/components/parameters/SsoProductIdPath"
      responses:
        "200":
          description: Global SSO Settings.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GlobalSsoSettingsResponseV1"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    put:
      tags:
      - SSO Settings
      summary: Update Global SSO Settings
      description: |
        Update Global SSO Settings.\
        \
        **Required permissions:** _sso-setting.edit_
      operationId: updateGlobalSsoSettingsV1
      parameters:
      - $ref: "#/components/parameters/SsoProductIdPath"
      requestBody:
        description: The payload required to update the Global SSO Settigs.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GlobalSsoSettingsRequestV1"
        required: true
      responses:
        "200":
          description: Global SSO Settings updated successfully.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GlobalSsoSettingsResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /platform/v1/teams/{teamId}/service-accounts/notification-settings:
    get:
      tags:
      - Service Accounts Notification Settings
      summary: Get Service Accounts Notification Settings
      description: |
        Return Service Accounts Notification Settings for a given team.\
        \
        **Required permissions:** _service-accounts-notification-settings.read_
      operationId: getServiceAccountsNotificationSettingsV1
      parameters:
      - $ref: "#/components/parameters/TeamIdPath"
      responses:
        "200":
          description: Service Accounts Notification Settings found.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceAccountsNotificationSettingsResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    put:
      tags:
      - Service Accounts Notification Settings
      summary: Update Service Accounts Notification Settings
      description: |
        Update Service Accounts Notification Settings for a given team.\
        \
        **Required permissions:** _service-accounts-notification-settings.edit_
      operationId: updateServiceAccountsNotificationSettingsV1
      parameters:
      - $ref: "#/components/parameters/TeamIdPath"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateServiceAccountsNotificationSettingsRequestV1"
      responses:
        "200":
          description: Service Accounts Notification Settings updated.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceAccountsNotificationSettingsResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      tags:
      - Service Accounts Notification Settings
      summary: Create Service Accounts Notification Settings
      description: |
        Create a new Notification Settings for Service Accounts which belong to a specific team.\
        \
        **Required permissions:** _service-accounts-notification-settings.edit_
      operationId: createServiceAccountsNotificationSettingsV1
      parameters:
      - $ref: "#/components/parameters/TeamIdPath"
      requestBody:
        description: The payload required to create Service Accounts Notification
          Settings.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateServiceAccountsNotificationSettingsRequestV1"
      responses:
        "201":
          description: Service Accounts Notification Settings created.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceAccountsNotificationSettingsResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    delete:
      tags:
      - Service Accounts Notification Settings
      summary: Delete Service Accounts Notification Settings
      description: |
        Delete Service Accounts Notification Settings for a given team.\
        \
        **Required permissions:** _service-accounts-notification-settings.edit_
      operationId: deleteServiceAccountsNotificationSettingsV1
      parameters:
      - $ref: "#/components/parameters/TeamIdPath"
      responses:
        "204":
          description: Service Accounts Notification Settings deleted.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    x-excluded-environments:
    - IBM
  /platform/v1/service-accounts/notification-settings:
    get:
      tags:
      - Service Accounts Notification Settings
      summary: Get Global Service Accounts Notification Settings
      description: |
        Return Notification Settings for Global Service Accounts.\
        \
        **Required permissions:** _global-service-accounts-notification-settings.read_
      operationId: getGlobalServiceAccountsNotificationSettingsV1
      responses:
        "200":
          description: Service Accounts Notification Settings found.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceAccountsNotificationSettingsResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    put:
      tags:
      - Service Accounts Notification Settings
      summary: Update Global Service Accounts Notification Settings
      description: |
        Update Notification Settings for Global Service Accounts.\
        \
        **Required permissions:** _global-service-accounts-notification-settings.edit_
      operationId: updateGlobalServiceAccountsNotificationSettingsV1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateServiceAccountsNotificationSettingsRequestV1"
      responses:
        "200":
          description: Service Accounts Notification Settings updated.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceAccountsNotificationSettingsResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      tags:
      - Service Accounts Notification Settings
      summary: Create Global Service Accounts Notification Settings
      description: |
        Create a new Notification Settings for Global Service Accounts.\
        \
        **Required permissions:** _global-service-accounts-notification-settings.edit_
      operationId: createGlobalServiceAccountsNotificationSettingsV1
      requestBody:
        description: The payload required to create Service Accounts Notification
          Settings.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateServiceAccountsNotificationSettingsRequestV1"
      responses:
        "201":
          description: Service Accounts Notification Settings created.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceAccountsNotificationSettingsResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    delete:
      tags:
      - Service Accounts Notification Settings
      summary: Delete Global Service Accounts Notification Settings
      description: |
        Delete Notification Settings for Global Service Accounts.\
        \
        **Required permissions:** _global-service-accounts-notification-settings.edit_
      operationId: deleteGlobalServiceAccountsNotificationSettingsV1
      responses:
        "204":
          description: Service Accounts Notification Settings deleted.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    x-excluded-environments:
    - IBM
  /platform/v1/ip-filters:
    get:
      tags:
      - IP Filtering
      summary: List IP Filters
      description: |
        Retrieve a paginated list of IP filters.\
        \
        **Required permissions:** _ip-filters.read_
      operationId: getIpFiltersV1
      parameters:
      - $ref: "#/components/parameters/Offset"
      - $ref: "#/components/parameters/Limit"
      - $ref: "#/components/parameters/Filter"
      responses:
        "200":
          description: List all IP filters response.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IpFiltersPaginatedResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      tags:
      - IP Filtering
      summary: Create IP Filter
      description: |
        Create a new IP filter.\
        \
        **Required permissions:** _ip-filters.edit_
      operationId: createIpFilterV1
      requestBody:
        description: The payload required to create IP filter.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateIpFilterV1"
      responses:
        "201":
          description: IP filter created.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IpFilterResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    x-excluded-environments:
    - OnPrem
  /platform/v1/ip-filters/{ipFilterId}:
    get:
      tags:
      - IP Filtering
      summary: Get IP Filter by ID
      description: |
        Get IP Filter by ID.\
        \
        **Required permissions:** _ip-filters.read_
      operationId: getIpFilterByIdV1
      parameters:
      - $ref: "#/components/parameters/IpFilterIdPath"
      responses:
        "200":
          description: IP filter found.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IpFilterResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    put:
      tags:
      - IP Filtering
      summary: Update IP Filter
      description: |
        Update IP filter by its ID. \
        \
        **Required permissions:** _ip-filters.edit_
      operationId: updateIpFilterV1
      parameters:
      - $ref: "#/components/parameters/IpFilterIdPath"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateIpFilterV1"
        required: true
      responses:
        "200":
          description: IP filter updated.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IpFilterResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    delete:
      tags:
      - IP Filtering
      summary: Delete IP Filter
      description: |
        Delete IP filter by its ID.\
        \
        **Required permissions:** _ip-filters.edit_
      operationId: deleteIpFilterByIdV1
      parameters:
      - $ref: "#/components/parameters/IpFilterIdPath"
      responses:
        "204":
          description: IP filter deleted.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    x-excluded-environments:
    - OnPrem
  /platform/v1/ip-filters-settings:
    get:
      tags:
      - IP Filtering
      summary: Get IP Filters Settings
      description: |
        Retrieves your IP filters settings.\
        \
        **Required permissions:** _ip-filters.read_
      operationId: getIpFiltersSettingsV1
      responses:
        "200":
          description: IP filters settings.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IpFiltersSettingsV1"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    put:
      tags:
      - IP Filtering
      summary: Save IP Filters settings
      description: |
        Saves your IP filters settings.\
        \
        **Required permissions:** _ip-filters.edit_
      operationId: saveIpFiltersSettingsV1
      requestBody:
        description: The payload required to save IP filters settings.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IpFiltersSettingsV1"
      responses:
        "200":
          description: IP filters settings saved.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IpFiltersSettingsV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    x-excluded-environments:
    - OnPrem
  /platform/v1/permissions:
    get:
      tags:
      - Permissions
      summary: Get Customer Permissions
      description: |
        Retrieve a list of permissions that are used in custom roles.\
        \
        **Required permissions:** _permissions.read_
      operationId: getPermissionsV1
      parameters:
      - $ref: "#/components/parameters/PermissionsFilter"
      responses:
        "200":
          description: Display Permissions.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPermissionsResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
  /platform/v1/roles:
    get:
      tags:
      - Roles
      summary: List Roles
      description: |
        Retrieve a paginated list of roles.\
        \
        **Required permissions:** _roles.read_
      operationId: getRolesV1
      parameters:
      - $ref: "#/components/parameters/Offset"
      - $ref: "#/components/parameters/Limit"
      - $ref: "#/components/parameters/OrderBy"
      - $ref: "#/components/parameters/Filter"
      responses:
        "200":
          description: The roles page.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetRolesPaginatedResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      tags:
      - Roles
      summary: Create Role
      description: |
        Create a new role.\
        \
        **Required permissions:** _roles.edit_
      operationId: createRoleV1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RoleRequestV1"
      responses:
        "201":
          description: Role created.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoleResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    x-excluded-environments:
    - IBM
  /platform/v1/roles/{roleId}:
    get:
      tags:
      - Roles
      summary: Get Role
      description: |
        Return a role by its ID.\
        \
        **Required permissions:** _roles.read_
      operationId: getRoleByIdV1
      parameters:
      - $ref: "#/components/parameters/RoleIdPath"
      responses:
        "200":
          description: Role found.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoleResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    put:
      tags:
      - Roles
      summary: Update Role
      description: |
        Update a role by its ID.\
        \
        **Required permissions:** _roles.edit_
      operationId: updateRoleByIdV1
      parameters:
      - $ref: "#/components/parameters/RoleIdPath"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RoleRequestV1"
      responses:
        "200":
          description: Role updated.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoleResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    delete:
      tags:
      - Roles
      summary: Delete Role
      description: |
        Delete a role by its ID.\
        \
        **Required permissions:** _roles.edit_
      operationId: deleteRoleByIdV1
      parameters:
      - $ref: "#/components/parameters/RoleIdPath"
      responses:
        "204":
          description: Role deleted.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    x-excluded-environments:
    - IBM
  /platform/v1/default-roles/{roleDisplayName}:
    get:
      tags:
      - Roles
      summary: Get Default Role
      description: |
        Return a default role by its display name.\
        \
        **Required permissions:** _roles.read_
      operationId: getDefaultRoleByDisplayNameV1
      parameters:
      - $ref: "#/components/parameters/RoleDisplayNamePath"
      responses:
        "200":
          description: Role found.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultRoleResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    x-excluded-environments:
    - IBM
  /platform/v1/service-accounts:
    get:
      tags:
      - Service Accounts
      summary: List Global Service Accounts
      description: |
        Retrieve a paginated list of all service accounts.\
        \
        **Required permissions:** _global-service-accounts.read_
      operationId: getGlobalServiceAccountsV1
      parameters:
      - $ref: "#/components/parameters/Offset"
      - $ref: "#/components/parameters/Limit"
      - $ref: "#/components/parameters/OrderBy"
      - $ref: "#/components/parameters/MultiFilter"
      responses:
        "200":
          description: Service accounts page.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetServiceAccountsPaginatedResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      tags:
      - Service Accounts
      summary: Create a Global Service Account
      description: |
        Create a new global service account.\
        \
        **Required permissions:** _global-service-accounts.edit_
      operationId: createGlobalServiceAccountV1
      requestBody:
        description: The payload required to create a new global service account.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateGlobalServiceAccountRequestV1"
      responses:
        "201":
          description: Global service account created.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceAccountWithKeyResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    x-excluded-environments:
    - IBM
  /platform/v1/teams/{teamId}/service-accounts:
    get:
      tags:
      - Service Accounts
      summary: List Team Service Accounts
      description: |
        Retrieve a paginated list of team service accounts.\
        \
        **Required permissions:** _team-service-accounts.read_
      operationId: getTeamServiceAccountsV1
      parameters:
      - $ref: "#/components/parameters/TeamIdPath"
      - $ref: "#/components/parameters/Offset"
      - $ref: "#/components/parameters/Limit"
      - $ref: "#/components/parameters/OrderBy"
      - $ref: "#/components/parameters/MultiFilter"
      responses:
        "200":
          description: The team service accounts page.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetServiceAccountsPaginatedResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    post:
      tags:
      - Service Accounts
      summary: Create a Team Service Account
      description: |
        Create a new team service account.\
        \
        **Required permissions:** _team-service-accounts.edit_
      operationId: createTeamServiceAccountV1
      parameters:
      - $ref: "#/components/parameters/TeamIdPath"
      requestBody:
        description: The payload required to create a new team service account.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTeamServiceAccountRequestV1"
      responses:
        "201":
          description: Team service account created.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceAccountWithKeyResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    x-excluded-environments:
    - IBM
  /platform/v1/service-accounts/{serviceAccountId}:
    get:
      tags:
      - Service Accounts
      summary: Get a Global Service Account
      description: |
        Return a global service account by ID.\
        \
        **Required permissions:** _global-service-accounts.read_
      operationId: getGlobalServiceAccountByIdV1
      parameters:
      - $ref: "#/components/parameters/ServiceAccountIdPath"
      responses:
        "200":
          description: Global service account found.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceAccountResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    delete:
      tags:
      - Service Accounts
      summary: Delete a Global Service Account
      description: |
        Delete a global service account by ID.\
        \
        **Required permissions:** _global-service-accounts.edit_
      operationId: deleteGlobalServiceAccountByIdV1
      parameters:
      - $ref: "#/components/parameters/ServiceAccountIdPath"
      responses:
        "204":
          description: Global service account deleted.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    x-excluded-environments:
    - IBM
  /platform/v1/teams/{teamId}/service-accounts/{serviceAccountId}:
    get:
      tags:
      - Service Accounts
      summary: Get a Team Service Account
      description: |
        Return a team service account by ID.\
        \
        **Required permissions:** _team-service-accounts.read_
      operationId: getTeamServiceAccountByIdV1
      parameters:
      - $ref: "#/components/parameters/TeamIdPath"
      - $ref: "#/components/parameters/ServiceAccountIdPath"
      responses:
        "200":
          description: Team service account found.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceAccountResponseV1"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    delete:
      tags:
      - Service Accounts
      summary: Delete a Team Service Account
      description: |
        Delete a team service account by ID.\
        \
        **Required permissions:** _team-service-accounts.edit_
      operationId: deleteTeamServiceAccountByIdV1
      parameters:
      - $ref: "#/components/parameters/TeamIdPath"
      - $ref: "#/components/parameters/ServiceAccountIdPath"
      responses:
        "204":
          description: Team service account deleted.
          headers:
            X-RateLimit-Limit:
              description: Maximum number of allowed requests per minute.
              style: simple
              explode: false
              schema:
                maximum: 4096
                minimum: 1
                type: integer
                format: int32
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
    x-excluded-environments:
    - IBM
  /platform/v1/notification-channels:
    get:
      tags:
      - Notification Channels
      summary: List Notification Channels
      description: |
        Retrieve a paginated list of notification channels.\
        \
[...]
